body {  
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #cbe2a1;
  color: #0e0b0c;
}

header {
  background-color: #b790e4;
  color: #2e4433;
  padding: 20px 10px;
  border-radius: 50px;
}

header h1 {
  margin: 0;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 10px;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  text-decoration: underline;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

main {
  padding: 20px;
}

.main{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.main h2 {
  color: #333;
  margin-bottom: 10px;
}

.main p {
  line-height: 1.6;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 65px;
}

@media (max-width: 600px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        background-color: #2c3e50;
        margin-top: 10px;
    }

    #menu-toggle:checked + .hamburger + .nav-menu {
        display: flex;
    }

    nav a {
        padding: 10px;
        border-top: 1px solid #444;
    }

    nav ul {
    flex-direction: column;
  }
    nav li {
    margin: 5px 0;
  }
}
