/* CSS for project page*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cbe2a1;
    color: #333;
}

header {
    background-color: #b790e4;
    color: #fff;
    padding: 20px 10px;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
}

nav li {
  margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #4dc798;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  
}

.project {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  transition: transform 0.3s ease;
}
.project:hover {
    transform: scale(1.05);
}

.project img {
  max-width: 100%;
  height: auto;
}

.project h3 {
  margin: 10px 0 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
}

article{
    border-radius: 20px;
}

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

#menu-toggle {
    display: none;
}

@media (max-width: 600px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        background-color: #2c3e50;
        margin-top: 10px;
    }

    #menu-toggle:checked + .hamburger + .nav-menu {
        display: flex;
    }

    nav a {
        padding: 10px;
        border-top: 1px solid #444;
    }
    nav ul {
        flex-direction: column;
  }
    nav li {
        margin: 5px 0;
  }
    .projects-grid {
        grid-template-columns: 1fr;
  }
}
